#page-login-register {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2A1657;
  .register-login-btn {
    position: absolute;
    right: 0;
    margin: 2% 10% 0 0;
  }
}
.container.register-login {
  position: relative;
  height: 500px;
  .card.register-card, .card.login-card, .card.reset-password-card {
    width: 75%;
    left: 15%;
  }
  .card.register-card {
    top: 70%;
  }
  .card.login-card {
    top: 88%;
  }
  .card.reset-password-card {
    top: 128%;
  }
}
